<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VRL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VRL.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <VRL.Properties.Settings>
      <setting name="VDEXE" serializeAs="String">
        <value>"C:\Program Files\Virtual Desktop Streamer\VirtualDesktop.Streamer.exe"</value>
      </setting>
      <setting name="LastDir" serializeAs="String">
        <value />
      </setting> 
      <setting name="VDChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NonOccy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AirLink" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExeDesktop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FFARM" serializeAs="String">
        <value>False</value>
      </setting>
    </VRL.Properties.Settings>
    <VRP_Shortcut_Maker.Properties.Settings>
      <setting name="VDEXE" serializeAs="String">
        <value>"C:\Program Files\Virtual Desktop Streamer\VirtualDesktop.Streamer.exe"</value>
      </setting>
      <setting name="LastDir" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomChecked" serializeAs="String">
        <value />
      </setting>
      <setting name="SteamVR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VDChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="B2E" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NonOccy" serializeAs="String">
        <value>False</value>
      </setting>
    </VRP_Shortcut_Maker.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection2" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>